
        <!-- header -->
        {{ include('@admin/header.html') }}

        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>

        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 菜单 -->
            {{ include('@admin/nav.html') }}
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> Vino-blog 操作台<small>-vino</small></div>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">

                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 widget-margin-bottom-lg ">
                        <div class="tpl-user-card am-text-center widget-body-lg">
                            <div class="tpl-user-card-title">
                                Vino-blog v1.0.0
                            </div>
                            <div class="achievement-subheading">
                                markdown博客系统
                            </div>
                            <div class="achievement-description">
                                Vino-blog v1.0.0发布了，与我联系 mail: 531532957@qq.com
                            </div>
                            <div class="achievement-description">
                                欢迎使用Vino-blog，若使用过程中出现任何问题，可与我联系
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script c="{{JS_CSS_DsrOMAIN}}assets/js/amazeui.min.js"></script>
    <script src="{{JS_CSS_DOMAIN}}assets/js/echarts.min.js"></script>
    <script src="{{JS_CSS_DOMAIN}}assets/js/amazeui.datatables.min.js"></script>
    <script src="{{JS_CSS_DOMAIN}}assets/js/dataTables.responsive.min.js"></script>
    <script src="{{JS_CSS_DOMAIN}}assets/js/sea.js"></script>
    <script type="text/javascript">
        seajs.use('{{JS_CSS_DOMAIN}}assets/js/bk.main',function(main){
            main.load('bk.home');
        });
    </script>
</body>

</html>