<div style="background: #000;">
    <nav class="am-g am-g-fixed blog-fixed blog-nav">
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="blog-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li {% if page == "home" %} class="am-active" {% endif %} ><a href="{{ DOMAIN }}">首页</a></li>
                {% for cate in category %}
                <li {% if page == cate.slug %} class="am-active" {% endif %}><a href="{{ DOMAIN }}cat/{{ cate.slug }}">{{ cate.name }}</a></li>
                {% endfor %}
            </ul>
            <div class="am-topbar-right-link">
                <a href="{{ DOMAIN }}admin/home"><i class="am-icon-home admin-link"></i>Administrator</a>
            </div>
        </div>
    </nav>
</div>
<div style="background-color: #261414">
    <header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
        <div class="am-u-sm-8 am-u-sm-centered">
            <img width="300" src="{{logo}}" alt="Logo"/>
            <h2 style="margin-top: 1em" class="am-hide-sm-only">学海无涯苦作舟，书山有路勤为径</h2>
        </div>
    </header>
</div>